.campaign-details-container {
  width: 85%;
  margin: 50px auto;
}

.campaign-details-container .title {
  text-align: center;
  margin-bottom: 30px;
}

.campaign-details-container .camp-details-inner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (max-width: 767px) {
  .campaign-details-container .camp-details-inner-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.campaign-details-container .camp-details-inner-container .left-camp-container {
  width: 100%;
}

.campaign-details-container .camp-details-inner-container .left-camp-container .img {
  width: 90%;
  max-height: 450px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .campaign-details-container .camp-details-inner-container .left-camp-container .img {
    width: 100%;
  }
}

.campaign-details-container .camp-details-inner-container .left-camp-container .likes {
  left: 0;
}

.campaign-details-container .camp-details-inner-container .left-camp-container .share {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .campaign-details-container .camp-details-inner-container .left-camp-container .share {
    width: 80%;
  }
}

.campaign-details-container .camp-details-inner-container .left-camp-container .share .shareicon {
  font-size: 2rem;
}

.campaign-details-container .camp-details-inner-container .left-camp-container .about {
  width: 90%;
}

@media (max-width: 767px) {
  .campaign-details-container .camp-details-inner-container .left-camp-container .about {
    width: 100%;
  }
}

.campaign-details-container .camp-details-inner-container .left-camp-container .about p {
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 2;
}

.campaign-details-container .camp-details-inner-container .right-camp-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .contribute {
  padding: 20px;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #1a73e8;
  color: #fff;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .amount-details p {
  margin-top: 20px;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .amount-details p .money-collected {
  font-size: 3rem;
  font-weight: 500;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .amount-details p .total-amount {
  font-size: 1.5rem;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .amount-details progress {
  width: 100%;
  height: 20px;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .amount-details .extra-details {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

.campaign-details-container .camp-details-inner-container .right-camp-container .amount-details .payment {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
}
/*# sourceMappingURL=CampaignDetails.css.map */