.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-items: center;
    align-items: center;
    
    .image{
        max-width: 30%;
        img{
            max-width: 100%;
        }
    }
}