.main-container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    @media(max-width: 767px){
        grid-template-columns: 1fr;
    }
    .church_detail{
        padding: 30px;
        @media(max-width: 767px){
            width: 100%;
        }
        h1{
            font-weight: 500;
        }
        p{
            padding: 20px;
        }
    }
    .details{
        padding: 20px;
        width: fit-content;
        justify-self: center;
        @media(max-width: 767px){
            width: 90%;
        }
        
    }
}