.bank_details{
    width: fit-content;
    margin: auto;

    @media(max-width: 767px){
        width: 95%;
    }

    .list{
        padding: 10px;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        background-color: #5493e6;
        color: #cfd3da;
        margin: auto;
        .head
        {
            color: cornsilk;
            text-align: center;
            padding: 15px;
            font-weight: 600;
        }
        box-shadow: -2px -1px 8px 1px rgba(0,0,0,0.55);
        li{
            padding: 6px;
            font-size: 15;
            span{
                padding: 10px;
                color:cornsilk;
                font-size: 13px;
            }
        }
        .button{
            padding: 25px;
            align-self: center;
            button{
                cursor: pointer;
                outline: none;
                height: 40px;
                width: 250px;
                background-color: #5493e6;
                color: cornsilk;
                border: none;
                border-radius: 20px;
                box-shadow: -2px -1px 8px 1px rgba(0,0,0,0.55);
                &:hover{
                    // box-shadow: -4px -2px 4px 2px rgba(0,0,0,0.55);
                    // box-shadow: 2px 1px 8px 1px rgba(0,0,0,0.55);
                    box-shadow: -.5px -1px 1px 1.5px rgba(0,0,0,0.55);
                    
                }
                @media(max-width: 767px){
                    width: 200px;
                }
            }
            

        }
    }
}