.HIW-container {
  margin: 25px 0;
  box-sizing: border-box;
  h1 {
    margin: 30px 0 10px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
  }
  hr {
    margin: auto;
    width: 6rem;
  }
  div {
    // background-color: red;
    margin: 30px 10px;
    h2 {
      text-align: center;
      padding: 13px 0;
      letter-spacing: 3px;
      word-wrap: break-word;
      max-width: fit-content;
      margin: auto;
      font-size: 35px;
      font-weight: 400;
      @media (max-width: 770px) {
        text-align: left;
        font-size: 23px;
      }
    }
    .head2 {
      font-size: 32px;
      @media (max-width: 770px) {
        font-size: 20px;
      }
    }
    .paragraph {
      max-width: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 19px;
      width: 100%;
      gap: 10px;
      margin: auto;
      @media (max-width: 760px) {
        grid-template-columns: 1fr;
      }

      p {
        text-align: justify;
        height: auto;
        width: 40vw;
        font-size: 19px;
        font-weight: 100;
        padding: 10px;
        a {
          color: rgb(18, 18, 253);
        }
        @media (max-width: 770px) {
          width: auto;
        }
      }
    }
    .full-paragraph {
      width: 80vw;
      margin: auto;
      // background-color: red;
      @media (max-width: 824px) {
        width: 90vw;
      }
      p {
        text-align: justify;
        height: auto;
        font-size: 19px;
        font-weight: 200;
        padding: 10px 0;
        ul {
          li {
            font-size: 20px;
            list-style-type: lower-roman;
            padding: 5px;
          }
        }
      }
      .word{
        font-size: 22px;
        width: 100%;
        font-style: italic;
        .writter{
          text-align: right;
          margin-right: 40px;
          padding: 0px;
        }
      }
    }
    .subpara {
      width: 80vw;
      margin: auto;
      // background-color: orange;
      @media (max-width: 824px) {
        width: 90vw;
      }
      h3 {
        padding: 10px 0;
      }
      p {
        font-size: 19px;
        font-weight: 200;
        padding: 10px 0;
        text-align: justify;
        margin: 0px 2em;
        ul {
          li {
            font-size: 20px;
            list-style-type: lower-roman;
            padding: 8px 0 8px 5px;
          }
        }
        span {
          font-size: 21px;
          font-weight: 400;
          text-align: justify;
          margin: 0 0 0 -2em;
          @media (max-width: 824px) {
            margin: 0 0 0 -1em;
          }
        }
      }
    }
  }
}
