form {
    background-color: #ffffff;
    box-shadow: 0 4px 11px 3px hsla(0,0%,75.3%,.288)!important;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    align-items: center;
    @media(max-width: 767px){
        width: 90%; 
    }
    .form-data{
        padding: 30px;
        width: 80%;
        position: relative;
        text-align: center;
        justify-content: center;
        
        @media(max-width: 767px){
            width: 100%;
            padding: 30px 10px;
        }
        
        // label{
        //     position: absolute;
        //     top: 40px;
        //     pointer-events: inherit;
        //                 span{
        //         color: red;
        //     }
        // }

        label {
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 35px;
            top: 40px;
            transition: all 0.2s ease;
        }

        input, textarea, select{
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            -webkit-appearance: none;
            display: block;
            background: #fafafa;
            color: #636363;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #757575;

            // border-right:1px solid rgb(104, 96, 96);
            &:focus{
                box-shadow: 0 4px 11px 3px hsla(0,0%,75.3%,.288)!important;    
                border: none;
                outline: none;
                background: #fafafa;
                color: #636363;
                border-bottom: 1px solid rgb(104, 96, 96);
            }
        }
        .inputbox:focus ~ label{
            left: 15px;
            top: 15px;
            transform: scale(.80); 
            color: #4a89dc;
        }
        .inputbox:valid ~ label {
            left: 15px;
            top: 15px;
            transform: scale(.80); 
            color: #4a89dc;
        }
        .inputbox2:focus ~ label{
            top: 15px;
        }
        .inputbox2:valid ~ label {
            top: 15px;
        }
        select{
            background-color: #fff;
            &:focus{
                border: 1px solid #4285f4;
            }
            
        }
        
        input[type=submit]{
            background-color: #ffffff;
            width: fit-content;
            width: 200px;
            border-radius: 20px;
            background-color: #1A73E8;
            box-shadow: 0 4px 11px 3px hsla(0,0%,75.3%,.288)!important;
            cursor: pointer;
            transition: 0.3s all ease;
            
            &:hover{
                background-color: #4285f4;
                color: #ffffff;
            }
        }
    }

    
    
}


.success{
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 4px 11px 3px hsla(0,0%,75.3%,.288)!important;
    width: 60%;
    margin: 100px auto;
    height: 150px;
}
.error{
    margin: 100px 0;
}