.footer-container{
    background-color: #18191a;
    color: #AAB2BD;
    .container
    {   

    }
    .list-container
    {           
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media(max-width: 767px){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .title  {
            font-size: 15px;
            color: #1a73e8;
        }
        p{
            color: #AAB2BD;
        }
        .details{
            .list li {
                padding: 10px;
            }
            .list li:hover{
                text-decoration: underline;
            }
        }
        .socialmedia {
            h3{
                text-align: center;
            }
            ul{
                display: flex;
                flex-direction: column;

                @media(max-width: 767px){
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                li{
                    padding: 10px;
                   
                }
            }
            
    }
    .teamsandpolicy {
        .policy {
            
        }li{
            padding: 10px;}
        li:hover{
            text-decoration: underline;
        }
        }
    }
}
.licence {
    p{
        text-align: center;
        padding: 0px 0px 20px 0px;
    //     @media(max-width: 767px){
            
    // }
    }
}