.footer-container{
    background-color: #18191a;
    color: #AAB2BD;
    .container
    {   margin: 0;
        padding: 0;
    }
    .title
    {
        font-size: 15px;
        color: #1a73e8;
    }
    .list-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .details{
            .list li {
                padding: 10px;
            }
        }
        .socialmedia {
            padding: 10px;
        }

        .teamsandpolicy {
            position: relative;   
        }
    }
}