.policy{
    margin: 20px;
    h2{
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    h3{
        padding: 20px;
    }
    p{
        margin-left: 25px; 
    }
    li{
        padding: 10px;
    }
    .dot{
        margin: 30px;
    }
}